.return-button a, .return-button a:visited {
  color: white; }

.aspect-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .aspect-list .aspect-card {
    background-color: #FEF010;
    padding: 1em;
    margin-bottom: 0.5em; }
    .aspect-list .aspect-card .quoted-aspect {
      font-style: italic; }
