$color-primary-0: #0B3E8A;	// Main Primary color */
$color-primary-1: #3C6AAD;
$color-primary-2: #1953A8;
$color-primary-3: #083270;
$color-primary-4: #042455;

$color-secondary-1-0: #D1C400;	// Main Secondary color (1) */
$color-secondary-1-1: #FFF448;
$color-secondary-1-2: #FEF010;
$color-secondary-1-3: #AAA000;
$color-secondary-1-4: #807800;

$color-secondary-2-0: #CD000A;	// Main Secondary color (2) */
$color-secondary-2-1: #FB4750;
$color-secondary-2-2: #FA101C;
$color-secondary-2-3: #A70008;
$color-secondary-2-4: #7E0006;